@import "tailwindcss";

.flex-center {
  @apply flex items-center justify-center;
}

.main-bg-light {
  @apply bg-slate-100;
}

.main-bg-dark {
  @apply bg-slate-200;
}

.accent-bg-dark {
  @apply bg-red-700;
}

.ah-font {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ah-font-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.nunito-font {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nunito-font-bold {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: normal;
}