@import "tailwindcss";

.flex-center {
  @apply flex items-center justify-center;
}

.main-bg-light {
  @apply bg-slate-100;
}

.main-bg-dark {
  @apply bg-slate-200;
}

.accent-bg-dark {
  @apply bg-red-700;
}

.inline-code {
  @apply font-mono px-1 rounded border border-gray-400 bg-white
}

.red-block {
  @apply p-4 border-l-4 border-red-700 rounded-lg ring-2 ring-red-700 bg-red-100 mb-4 shadow-lg
}

.blue-block {
  @apply p-4 border-l-4 border-indigo-800 rounded-lg ring-2 ring-indigo-800 bg-indigo-100 mb-8 shadow-lg
}

.green-block {
  @apply p-4 border-l-4 border-emerald-600 rounded-lg ring-2 ring-emerald-600 bg-emerald-100 mb-8 shadow-lg
}

.ah-font {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ah-font-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.nunito-font {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nunito-font-bold {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: normal;
}